.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    width: 10%;
    z-index: 1;
    }

.menu {
    position: fixed;
    top: 0;
    left: 0;
    list-style: none;
    margin-bottom: 2rem; 
    margin-top: 0;
    padding-left: 0;
}
.menu .list-item{
    height: 40px;
    width: 40px;
    padding: 2px;
    margin: 4px 0;
}
.list-item .fa {
    text-align: center;
    line-height: 40px; 
}
.list-item a span {
    width: 0;
    left: 40px;
    padding: 0;
    position: absolute;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing:0.6;
    white-space: nowrap;
    line-height: 40px;
    transition: 0.25s;
}
.list-item a{
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    color: rgb(99, 16, 16);
    position: relative;
}
.list-item a:hover span {
    width: auto;
    padding: 0 20px;
    overflow: visible;
}
.home, .home span { background: #A66CFF; }
.upload, .upload span { background: #9C9EFE; }
.contact, .contact span { background: #d8acac; }
